[Desktop Entry]
Comment[en_US]=
Comment=
Exec=python /path/to/daemon.py
GenericName[en_US]=
GenericName=
Icon=tablet
MimeType=
Name[en_US]=Huion
Name=Huion
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
