[Desktop Entry]
Exec=/path/to/miniconda3/envs/huion/bin/python3 /path/to/src/main.py
Icon=tablet
Name=Huion
Terminal=false
Type=Application
Categories=Utility
